* {
    background-color: #E5E7E9;
}
li {
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none; 
    
}
span {
  background: #F8F9F9;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
p {
    background: #F8F9F9;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .propis {
    background: #F8F9F9;
    width: 300px;
    height: 50px;

  }
  .check {
    cursor: pointer;
  }
  .check-active {
    color: #4caf50;
  }
  .check-completed {
    text-decoration: line-through;
  }
  .eliminar {
    cursor: pointer;
  }
  .eliminar:hover {
    color: red;
  }
